.light-bg{
    color: $blue-text;
    background-color: $white;
}

.dark-bg{
    color: $white;
    background: $dark-blue;
    background: linear-gradient(-16deg, $dark-blue 0%, $darkest-blue 100%);
}