.little-strip{
    width: 1.2rem;
    height: 1px;
    background-color: $white;
    margin-bottom: 0.4rem;
    display: inline-block;
}
.little-strip-dark{
    display: inline-block;
    width: 1.2rem;
    height: 1px;
    background-color: $blue-text;
    margin-bottom: 0.4rem;
}