// маленькая палка
.little-strip{
    width: 1.2rem;
    height: 1px;
    background-color: $white;
    margin-bottom: 0.4rem;
    display: inline-block;
}
.little-strip-dark{
    display: inline-block;
    width: 1.2rem;
    height: 1px;
    background-color: $blue-text;
    margin-bottom: 0.4rem;
}

.quote{
    display: flex;
    flex-direction: column;
    max-width: 450px;

    @media (max-width: 1024px){
        max-width: 300px;
    }
    p{
        align-self: flex-start;
        margin-bottom: 2rem;
        font-family: 'CormorantGaramond';
        font-size: 1.5rem;
        line-height: 1.2;
    }
    span{
        align-self: center;
        font-weight: 300;
    }
}