.analytics-text{
    height: 100%;

    .container{
        padding: 3rem 10rem;
    }
    .main-text{
        margin-top: 12rem;

        @media (max-height: 700px) and (min-width: 1024px){
            margin-top: 8rem;
        }
    }
    @media (max-width: 1023px){
        .container{
            padding: 3rem 9%;
        }
        .main-text{
            margin: 5rem 0;
        }
    }
}

.analytics{
    height: 100%;
    width: 800px;

    @media (max-width: 1024px){
        width: 100%;
        height: 600px;      
    }
}
.analytics-img{
    background-image: url('img/paralax/analytics.png');
}