.cases{
    height: 100%;
}
.cases-container{
    height: 100%;
    display: grid;
    grid-template-areas: "case-1 cases-img"
        "case-2 cases-img";
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;

    @media (max-width: 1024px){
        grid-template-areas: "case-1 case-2"
        "cases-img cases-img";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 4fr;
    }
    @media (max-width: 600px){
        grid-template-areas: "case-1"
        "case-2"
        "cases-img";
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 4fr;
    }
}
.case-1{
    grid-area: case-1;
}
.case-2{
    grid-area: case-2;
}
.cases-img{
    grid-area: cases-img;
    background-image: url('img/paralax/cases.png');

    .button{
        border-color: $white;
        margin: 3rem 0;

        .little-strip{
            margin-left: 0.5rem;
        }
    }
}
.case-1,
.case-2{
    padding: 3rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 650px;

    @media (max-width: 1599px){
        width: 500px;
    }
    @media (max-width: 1024px){
        width: auto;
    }
    .case-num{
        max-height: 25%;
        max-width: 70%;
    }
    p{
        font-size: 1.125rem;
        font-weight: 200;
    }
    .arrow{
        align-self: flex-end;
        margin-top: 3rem;
        max-width: 50%;
    }
}