.container{
    padding: 3rem 9%;
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 1980px;
    margin: 0 auto;

    @media (max-width: 750px){
        padding: 3rem 9%;
    }
}