/* TEXT TITLES */

// H1
h1 {
    padding: 0 0 3rem;
    font-family: $base-font;
    font-size: 3.3rem;
    line-height: 1;
    font-weight: 200;

    @media (max-width: 405px){
        font-size: 3rem;
    }
}

// H2
h2{
    padding: 0 0 3rem;
    font-family: $base-font;
    font-size: 2rem;
    line-height: 1;
    font-weight: 200;

    @media (min-width: 600px){
        font-size: 3rem;
    }
    @media (min-width: 750px){
        font-size: 4rem;
    }
    @media (min-width: 1024px){
        font-size: 4.5rem;
    }
}


// H3
h3{
    font-family: $base-font;
    font-size: 6rem;
    line-height: 1;
    font-weight: 200;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
}


// H4
h4{
    padding: 1rem 0;
    font-family: $base-font;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 700;
}


// H5
h5{
    padding: 1rem 0;
    font-family: $base-font;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 700;
}


// H6
h6{
    padding: 1rem 0;
    font-family: $base-font;
    font-size: 1rem;
    line-height: 1;
    font-weight: 700;
}


// P
p{
    padding: 0;
    font-family: $base-font;
    font-size: 1rem;
    line-height: 2;
    font-weight: 400;
    white-space: initial;
}


// LISTS
ul, li, ol {
    list-style: none;
}

// LINKS
a {
    text-decoration: none;
    color: $main-text-color;
    &:hover {
      color: $main-text-color;
      text-decoration: none;
    }
}